Repository Elenpay/NodeGuard: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-staging, build-signer-staging

.gitlab-ci.yml:

stages:
  - build-staging
  - build-release
  - build-signer-staging
  - build-signer-release
image: docker:stable
variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: "" # HOTFIX?
  ANSIBLE_HOST_KEY_CHECKING: 'false'
  ANSIBLE_FORCE_COLOR: 'true'  

services:
  - docker:dind

build-staging:
  stage: build-staging
  tags:
    - lightning_spot_runners
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME -f ./src/Dockerfile .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME
  rules:
    - if: '$CI_COMMIT_REF_NAME == "develop" &&  $CI_PIPELINE_SOURCE != "merge_request_event"'
      changes:
        - "src/**/*"
        - "FundsManager.sln"
        - ".gitlab-ci.yml"

build-release:
  stage: build-release
  tags:
    - lightning_spot_runners
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME -f ./src/Dockerfile .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME
  only:
    - tags

build-signer-staging:
  stage: build-signer-staging
  tags:
    - lightning_spot_runners
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com
    - docker build -t registry.gitlab.com/clovrlabs/lightningnetwork/fundsigner:$CI_COMMIT_REF_NAME -f ./signer/FundsManagerSigner/Dockerfile .
    - docker push registry.gitlab.com/clovrlabs/lightningnetwork/fundsigner:$CI_COMMIT_REF_NAME
  rules:
    - if: '$CI_COMMIT_REF_NAME == "develop" &&  $CI_PIPELINE_SOURCE != "merge_request_event"' 
      changes:
        - "signer/**/*"
        - ".gitlab-ci.yml"

build-signer-release:
  stage: build-signer-release
  tags:
    - lightning_spot_runners
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com
    - docker build -t registry.gitlab.com/clovrlabs/lightningnetwork/fundsigner:$CI_COMMIT_REF_NAME -f ./signer/FundsManagerSigner/Dockerfile ./signer/FundsManagerSigner
    - docker push registry.gitlab.com/clovrlabs/lightningnetwork/fundsigner:$CI_COMMIT_REF_NAME
  only:
    - tags

Fixed a bad boolean comparison in RemoteSignerService wether if remote signer was enabled or not (#87)
  src/Services/RemoteSignerService.cs
Due: build-staging

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: build-staging, build-signer-staging

Update README.md
  README.md
Due: none

Unit testing lightning service
  src/Data/Models/ChannelOperationRequest.cs
  src/Data/Models/ChannelOperationRequestPSBT.cs
  src/Data/Models/Wallet.cs
  src/Data/Repositories/WalletRepository.cs
  src/FundsManager.csproj
  src/Helpers/Constants.cs
  src/Helpers/LightningHelper.cs
  src/Jobs/MonitorWithdrawalsJob.cs
  src/Jobs/ProcessNodeChannelAcceptorJob.cs
  src/Jobs/SweepNodeWalletsJob.cs
  src/Services/BitcoinService.cs
  src/Services/LightningService.cs
  test/FundsManager.Tests/FundsManager.Tests.csproj
  test/FundsManager.Tests/Helpers/LightningHelperTests.cs
  test/FundsManager.Tests/Helpers/StringHelperTests.cs
  test/FundsManager.Tests/Services/LightningServiceTests.cs
  test/FundsManager.Tests/TestHelpers/CreateWallet.cs
  test/FundsManager.Tests/TestHelpers/MockHelpers.cs
  test/FundsManager.Tests/Usings.cs
Due: build-staging

Added more test cases for OpenChannel method
  src/Data/Models/ChannelOperationRequest.cs
  src/Data/Models/ChannelOperationRequestPSBT.cs
  src/Data/Models/Wallet.cs
  src/Data/Repositories/Interfaces/IChannelOperationRequestRepository.cs
  src/Helpers/LightningHelper.cs
  src/Jobs/ProcessNodeChannelAcceptorJob.cs
  src/Jobs/SweepNodeWalletsJob.cs
  src/Pages/ChannelRequests.razor
  src/Services/BitcoinService.cs
  src/Services/LightningService.cs
  test/FundsManager.Tests/FundsManager.Tests.csproj
  test/FundsManager.Tests/Services/LightningServiceTests.cs
  test/FundsManager.Tests/TestHelpers/CreateWallet.cs
  test/FundsManager.Tests/TestHelpers/MockHelpers.cs
Due: build-staging

Fixed indentation
  src/Data/Repositories/Interfaces/IChannelOperationRequestRepository.cs
  src/Jobs/ProcessNodeChannelAcceptorJob.cs
Due: build-staging

Model changes:
  justfile
  src/Data/ApplicationDbContext.cs
  src/Data/Models/Channel.cs
  src/Data/Models/LiquidityRule.cs
  src/Data/Models/Wallet.cs
  src/Migrations/20230206185652_LiquidityRules_HotWallet.Designer.cs
  src/Migrations/20230206185652_LiquidityRules_HotWallet.cs
Due: build-staging

Added node related to a channel so we can use this info to know which liquidity rules apply to a specific node
  src/Data/Models/Channel.cs
  src/Migrations/20230207114842_ChannelNode.Designer.cs
  src/Migrations/20230207114842_ChannelNode.cs
  src/Services/LightningService.cs
Due: build-staging

SignPSBT function passing instead of mock
  src/Services/LightningService.cs
  test/FundsManager.Tests/Services/LightningServiceTests.cs
Due: build-staging

Added liquidity rule repository, fixed missing dbcontext property for LiquidityRule
  FundsManager.sln
  justfile
  src/Data/ApplicationDbContext.cs
  src/Data/Repositories/Interfaces/ILiquidityRuleRepository.cs
  src/Data/Repositories/LiquidityRuleRepository.cs
  src/Migrations/20230207161055_LiquidityRulesRename.Designer.cs
  src/Migrations/20230207161055_LiquidityRulesRename.cs
Due: build-staging

License header readded
  configuration-cs.json
  lic_header.txt
Due: none

Added missing dependency injection
  src/Program.cs
Due: build-staging

Added related node to LiquidityRule
  justfile
  src/Data/Models/LiquidityRule.cs
  src/Migrations/20230207164017_NodeAddedToLiquidityRule.Designer.cs
  src/Migrations/20230207164017_NodeAddedToLiquidityRule.cs
Due: build-staging

Initial version of NodeGuardService for methods GetLiquidityRules() and GetNewWalletAddress()
  src/Automapper/MapperProfile.cs
  src/Data/Repositories/Interfaces/ILiquidityRuleRepository.cs
  src/Data/Repositories/LiquidityRuleRepository.cs
  src/FundsManager.csproj
  src/Program.cs
  src/Proto/nodeguard.proto
  src/rpc/NodeGuardService.cs
Due: build-staging

Tested GetLiquidityRules 100% Coverage
  src/Rpc/NodeGuardService.cs
  test/FundsManager.Tests/FundsManager.Tests.csproj
  test/FundsManager.Tests/src/Rpc/NodeGuardServiceTests.cs
  test/FundsManager.Tests/src/Rpc/TestServerCallContext.cs
Due: build-staging

removed pentesting test, added gitlab ci
  .gitlab-ci.yml
  test/FundsManager.Tests/Pentests.cs
Due: build-staging, build-signer-staging

Fixed derivation path and gitlab ci
  .gitlab-ci.yml
  src/Helpers/Constants.cs
  test/FundsManager.Tests/FundsManager.Tests.csproj
  test/FundsManager.Tests/Services/LightningServiceTests.cs
  test/FundsManager.Tests/TestHelpers/CreateWallet.cs
Due: build-staging, build-signer-staging

commented gitlab ci
  .gitlab-ci.yml
Due: build-staging, build-signer-staging

added dotnet docker image to gitlab ci
  .gitlab-ci.yml
Due: build-staging, build-signer-staging

fixed dotnet sdk in gitlab ci
  .gitlab-ci.yml
Due: build-staging, build-signer-staging

fixed dir in gitlab ci
  .gitlab-ci.yml
Due: build-staging, build-signer-staging

removed extra args, gitlab ci
  .gitlab-ci.yml
Due: build-staging, build-signer-staging

removed extra quotes gitlab ci
  .gitlab-ci.yml
Due: build-staging, build-signer-staging

Added rules to github ci
  .gitlab-ci.yml
Due: build-staging, build-signer-staging

added main rule to gitlab ci
  .gitlab-ci.yml
Due: build-staging, build-signer-staging

Unit testing services (Open Channel Method) (#88)
  .gitlab-ci.yml
  src/Data/Repositories/WalletRepository.cs
  src/FundsManager.csproj
  src/Helpers/Constants.cs
  src/Helpers/LightningHelper.cs
  src/Jobs/MonitorWithdrawalsJob.cs
  src/Jobs/ProcessNodeChannelAcceptorJob.cs
  src/Jobs/SweepNodeWalletsJob.cs
  src/Pages/ChannelRequests.razor
  src/Services/BitcoinService.cs
  src/Services/LightningService.cs
  test/FundsManager.Tests/FundsManager.Tests.csproj
  test/FundsManager.Tests/Helpers/LightningHelperTests.cs
  test/FundsManager.Tests/Helpers/StringHelperTests.cs
  test/FundsManager.Tests/Pentests.cs
  test/FundsManager.Tests/Services/LightningServiceTests.cs
  test/FundsManager.Tests/TestHelpers/CreateWallet.cs
  test/FundsManager.Tests/TestHelpers/MockHelpers.cs
  test/FundsManager.Tests/Usings.cs
Due: build-staging, build-signer-staging

Added test results as a file
  .gitlab-ci.yml
  test/FundsManager.Tests/FundsManager.Tests.csproj
Due: build-staging, build-signer-staging

fixed path for results file
  .gitlab-ci.yml
Due: build-staging, build-signer-staging

Restoring gitlab ci rules
  .gitlab-ci.yml
Due: build-staging, build-signer-staging

Fix unit testing gitlab ci (#92)
  .gitlab-ci.yml
  test/FundsManager.Tests/FundsManager.Tests.csproj
Due: build-staging, build-signer-staging

Hotfix remote signer constant
  src/Helpers/Constants.cs
Due: build-staging

Hotfix remote signer constant (#93)
  src/Helpers/Constants.cs
Due: build-staging

Added nbxplorer as a service in DI to ensure proper testing, tests were refactor
  src/Data/Repositories/WalletRepository.cs
  src/Helpers/LightningHelper.cs
  src/Jobs/MonitorWithdrawalsJob.cs
  src/Jobs/ProcessNodeChannelAcceptorJob.cs
  src/Jobs/SweepNodeWalletsJob.cs
  src/Program.cs
  src/Services/BitcoinService.cs
  src/Services/LightningService.cs
  src/Services/NBXplorerService.cs
  test/FundsManager.Tests/Services/LightningServiceTests.cs
  test/FundsManager.Tests/src/Rpc/NodeGuardServiceTests.cs
  test/FundsManager.Tests/src/Rpc/TestServerCallContext.cs
Due: build-staging

Fixed constants not initializing job retry interval, added RequestWithdrawal rpc with its tests
  src/Data/Repositories/WalletWithdrawalRequestRepository.cs
  src/Helpers/Constants.cs
  src/Program.cs
  src/Proto/nodeguard.proto
  src/Rpc/NodeGuardService.cs
Due: build-staging

Made the gRPC API work with HTTP1 Blazor server
  src/Program.cs
  src/Rpc/NodeGuardService.cs
Due: build-staging

Made a user requestor field optional for enabling automated withdrawals requests to NG
  src/Data/Models/WalletWithdrawalRequest.cs
  src/Migrations/20230215151541_WithdrawalRequestorNullable.Designer.cs
  src/Migrations/20230215151541_WithdrawalRequestorNullable.cs
Due: build-staging

Added MasterFingerprint to Wallet model
  src/Data/Models/Wallet.cs
Due: build-staging

renamed MasterFingerprint to InternalWalletMasterFingerprint
  src/Data/Models/Wallet.cs
  src/Migrations/20230216090219_AddInternalWalletMasterFingerprint.Designer.cs
  src/Migrations/20230216090219_AddInternalWalletMasterFingerprint.cs
Due: build-staging

Added migration for existing wallets, added headers
  src/Migrations/20230206185652_LiquidityRules_HotWallet.cs
  src/Migrations/20230207161055_LiquidityRulesRename.cs
  src/Migrations/20230207164017_NodeAddedToLiquidityRule.cs
  src/Migrations/20230214121821_MigrateWalletsToDerivationPath.Designer.cs
  src/Migrations/20230214121821_MigrateWalletsToDerivationPath.cs
Due: build-staging

Fixed hot wallet editing bug
  src/Data/Models/Key.cs
  src/Data/Repositories/Interfaces/IWalletRepository.cs
  src/Data/Repositories/WalletRepository.cs
  src/Pages/Wallets.razor
Due: build-staging
