Repository Elenpay/NodeGuard: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-staging, build-signer-staging

.gitlab-ci.yml:

stages:
  - build-staging
  - build-release
  - build-signer-staging
  - build-signer-release
image: docker:stable
variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: "" # HOTFIX?
  ANSIBLE_HOST_KEY_CHECKING: 'false'
  ANSIBLE_FORCE_COLOR: 'true'  

services:
  - docker:dind

build-staging:
  stage: build-staging
  tags:
    - lightning_spot_runners
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME -f ./src/Dockerfile .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME
  rules:
    - if: '$CI_COMMIT_REF_NAME == "develop" &&  $CI_PIPELINE_SOURCE != "merge_request_event"'
      changes:
        - "src/**/*"
        - "FundsManager.sln"
        - ".gitlab-ci.yml"

build-release:
  stage: build-release
  tags:
    - lightning_spot_runners
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME -f ./src/Dockerfile .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME
  only:
    - tags

build-signer-staging:
  stage: build-signer-staging
  tags:
    - lightning_spot_runners
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com
    - docker build -t registry.gitlab.com/clovrlabs/lightningnetwork/fundsigner:$CI_COMMIT_REF_NAME -f ./signer/FundsManagerSigner/Dockerfile .
    - docker push registry.gitlab.com/clovrlabs/lightningnetwork/fundsigner:$CI_COMMIT_REF_NAME
  rules:
    - if: '$CI_COMMIT_REF_NAME == "develop" &&  $CI_PIPELINE_SOURCE != "merge_request_event"' 
      changes:
        - "signer/**/*"
        - ".gitlab-ci.yml"

build-signer-release:
  stage: build-signer-release
  tags:
    - lightning_spot_runners
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com
    - docker build -t registry.gitlab.com/clovrlabs/lightningnetwork/fundsigner:$CI_COMMIT_REF_NAME -f ./signer/FundsManagerSigner/Dockerfile ./signer/FundsManagerSigner
    - docker push registry.gitlab.com/clovrlabs/lightningnetwork/fundsigner:$CI_COMMIT_REF_NAME
  only:
    - tags

Config files for headers
  configuration-cs.json
  configuration-cshtml.json
  license-header.txt
Due: none

Fixed #59
  src/Data/Models/ChannelOperationRequest.cs
  src/Data/Models/WalletWithdrawalRequest.cs
  src/Pages/ChannelRequests.razor
  src/Pages/Wallets.razor
  src/Pages/Withdrawals.razor
  src/Services/BitcoinService.cs
  test/FundsManager.Tests/WalletWithdrawalRequestTests.cs
Due: build-staging

Delete signer directory
  signer/FundsManagerSigner.Tests/FunctionTest.cs
  signer/FundsManagerSigner/Function.cs
Due: build-signer-staging

Remove cshtml config file
  configuration-cshtml.json
Due: none

Hotfix in remote signer with wrong comparison
  src/Services/RemoteSignerService.cs
Due: build-staging

Errors in merges
  src/Shared/LoginDisplay.razor
  src/Shared/PSBTSign.razor
Due: build-staging

Fixed #65
  src/Helpers/LightningHelper.cs
  src/Services/BitcoinService.cs
  src/Services/LightningService.cs
Due: build-staging

Fixed #65 (#66)
  src/Helpers/LightningHelper.cs
  src/Services/BitcoinService.cs
  src/Services/LightningService.cs
Due: build-staging

Fixed modal not cleared when closed
  src/Pages/ChannelRequests.razor
Due: build-staging

Hotfix returning derivation data in the PSBT as object
  src/Helpers/LightningHelper.cs
  src/Services/BitcoinService.cs
  src/Services/LightningService.cs
Due: build-staging

Hotfix for base templates null handling of fingerprints / xpubs
  src/Helpers/LightningHelper.cs
Due: build-staging

Excluding already licensed files Including test folder and updated files
  configuration-cs.json
  src/Helpers/PriceConversionHelper.cs
  test/FundsManager.Tests/LightningHelperTests.cs
  test/FundsManager.Tests/Pentests.cs
  test/FundsManager.Tests/StringHelperTests.cs
  test/FundsManager.Tests/Usings.cs
  test/FundsManager.Tests/WalletTest.cs
Due: build-staging

Removed unnecessary method
  src/Pages/ChannelRequests.razor
Due: build-staging

Just file to update license in the files
  justfile
Due: none

Added constants file
  src/Helpers/Constants.cs
  src/Helpers/ValidationHelper.cs
  src/Pages/ChannelRequests.razor
Due: build-staging

Fixed modal not cleared when closed (#68)
  src/Helpers/Constants.cs
  src/Helpers/ValidationHelper.cs
  src/Pages/ChannelRequests.razor
Due: build-staging

Comment to disable the remote signer in VS execution
  docker/docker-compose.yml
Due: none

Moved enviromental variables to constants file
  src/Data/DbInitializer.cs
  src/Data/Repositories/ApplicationUserRepository.cs
  src/Data/Repositories/ChannelRepository.cs
  src/Data/Repositories/InternalWalletRepository.cs
  src/Data/Repositories/KeysRepository.cs
  src/Helpers/Constants.cs
  src/Helpers/CurrentNetworkHelper.cs
  src/Helpers/JobTypes.cs
  src/Helpers/LightningHelper.cs
  src/Helpers/PriceConversionHelper.cs
  src/Helpers/ValidationHelper.cs
  src/Jobs/MonitorWithdrawalsJob.cs
  src/Jobs/SweepNodeWalletsJob.cs
  src/Pages/ChannelRequests.razor
  src/Pages/Keys.razor
  src/Pages/SetupInternalWallet.razor
  src/Pages/Withdrawals.razor
  src/Pages/_Layout.cshtml
  src/Program.cs
  src/Services/BitcoinService.cs
  src/Services/LightningService.cs
  src/Services/NotificationService.cs
  src/Services/RemoteSignerService.cs
  src/Shared/MainLayout.razor
Due: build-staging

Delete license-header.txt
  license-header.txt
Due: none

Fixed conditional
  src/Data/Models/InternalWallet.cs
  src/Shared/MainLayout.razor
Due: build-staging

Fixed redirection to /setup-internal-wallet (#73)
  docker/docker-compose.yml
  src/Data/Models/InternalWallet.cs
  src/Shared/MainLayout.razor
Due: build-staging

Fundsmanager access to only wallets relevant to them
  src/Data/DbInitializer.cs
  src/Data/Models/EntityWithCreatedBy.cs
  src/Data/Models/Wallet.cs
  src/Data/Repositories/Interfaces/IWalletRepository.cs
  src/Data/Repositories/WalletRepository.cs
  src/Migrations/20230119100736_CreatedByField.Designer.cs
  src/Migrations/20230119100736_CreatedByField.cs
  src/Pages/ChannelRequests.razor
  src/Pages/Nodes.razor
  src/Pages/Wallets.razor
  src/Pages/Withdrawals.razor
Due: build-staging

Fixed withdrawals converting to wrong unit
  src/Pages/Withdrawals.razor
Due: build-staging

Channel details modal scrollable if overflow
  src/Pages/Channels.razor
Due: build-staging

Fixed role based accesses
  src/Data/Repositories/ChannelOperationRequestRepository.cs
  src/Pages/ChannelRequests.razor
  src/Pages/Channels.razor
  src/Pages/Wallets.razor
  src/Pages/Withdrawals.razor
  src/Shared/CancelOrRejectPopup.razor
Due: build-staging

Fixed typo
  src/Pages/ChannelRequests.razor
Due: build-staging

Fixed role based accesses (#81)
  src/Data/Repositories/ChannelOperationRequestRepository.cs
  src/Pages/ChannelRequests.razor
  src/Pages/Channels.razor
  src/Pages/Wallets.razor
  src/Pages/Withdrawals.razor
  src/Shared/CancelOrRejectPopup.razor
Due: build-staging

Fixed pending channel requests visibility
  src/Data/Repositories/ChannelOperationRequestRepository.cs
  src/Pages/ChannelRequests.razor
Due: build-staging

Fixed pending channel requests visibility (#82)
  src/Data/Repositories/ChannelOperationRequestRepository.cs
  src/Pages/ChannelRequests.razor
Due: build-staging

ProcessNodeChannelAcceptorJob refires immediately after crash
  src/Jobs/ProcessNodeChannelAcceptorJob.cs
Due: build-staging

ProcessNodeChannelAcceptorJob refires immediately after crash (#84)
  src/Jobs/ProcessNodeChannelAcceptorJob.cs
Due: build-staging

Docker compose addition for developing in VS
  docker/docker-compose.yml
Due: none

Changing email for username
  src/Areas/Identity/Pages/Account/Manage/EnableAuthenticator.cshtml.cs
Due: build-staging

Changing email for username #2
  src/Areas/Identity/Pages/Account/Manage/EnableAuthenticator.cshtml.cs
Due: build-staging

Fixed a bad boolean comparison in RemoteSignerService wether if remote signer was enabled or not
  src/Services/RemoteSignerService.cs
Due: build-staging
